rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /transactions/{document=**} {
      // allow read, write: if
      //     request.time < timestamp.date(2022, 3, 19);

      // only auth
      allow create: if request.auth != null;

      // logged in user uid must match the document creator to read & delete
      allow read, delete: if request.auth.uid == resource.data.uid;
    }
  }
}